<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ folder }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{ folder }}</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <ng-container *ngIf="loading; elseBlock">
            caricamento...
        </ng-container>
        <ng-template #elseBlock>
            <strong class="capitalize">response</strong>
            <p>{{response.base_experience}}</p>
        </ng-template>
    </div>
</ion-content>