$red: #ff0000;
$dark-red: #cc0000;
$blue: #3b4cca;
$yellow: #ffde00;
$gold: #b3a125;

// color for the type label
$color-label-normal: #a8a77a;
$color-label-fighting: #c22e28;
$color-label-flying: #a98ff3;
$color-label-poison: #a33ea1;
$color-label-ground: #e2bf65;
$color-label-rock: #b6a136;
$color-label-bug: #a6b91a;
$color-label-ghost: #735797;
$color-label-steel: #b7b7ce;
$color-label-fire: #ee8130;
$color-label-water: #6390f0;
$color-label-grass: #7ac74c;
$color-label-electric: #f7d02c;
$color-label-psychic: #f95587;
$color-label-ice: #96d9d6;
$color-label-dragon: #6f35fc;
$color-label-dark: #705746;
$color-label-fairy: #d685ad;
$color-label-unknown: #ffffff;
